{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title> Reev </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "icon" type = "image/png" href = "/static/logo.png">
        <style>
            body{
                background-image: url('/static/background.gif');
                background-size: contain;
            }
            .row{
                margin-top: 40px;
            }
            .row:first-child{
                margin-top: 100px;
            }
            .btn{
                float: right
            }
            .card{
                width: 100%
            }
        </style>
    </head>
    <body>
        <div class="container">
            {% for offer in offers %}
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <a data-toggle="collapse" href="#card-{{offer.id}}" aria-expanded="true" aria-controls="test-block">
                            <h5> {{ offer.title }} </h5>
                        </a>
                    </div>
                    <div id="card-{{ offer.id }}" class="collapse">
                        <div class="card-body">
                            <p class="card-text"> {{ offer.description }} </p>
                            <a href="https://www.facebook.com/messages/t/164363264187468" target="_blank" class="btn btn-primary"> تواصل معنا </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
