{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title> Reev </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "icon" type = "image/png" href = "/static/logo.png">
        <style>
            body{
                background-image: url('/static/background.gif');
                background-size: contain;
            }
            .row{
                margin-top: 40px;
            }
            .row:first-child{
                margin-top: 100px;
            }
            .btn{
                float: right
            }
            .card-title{
                background-color: #c3c3c3;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            {% for offer in offers %}
            <div class="row justify-content-center align-items-center text-center">
                <div class="card" style="width: 50rem">
                    <div class="card-body">
                        <h5 class="card-title"> {{ offer.title }} </h5>
                        <p class="card-text"> {{ offer.description }} </p>
                        <a href="https://www.facebook.com/profile.php?id=100007510090781" target="_blank" class="btn btn-primary"> تواصل معنا </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
